.search-field {
    width: 300px;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #1e293b !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #1e293b !important;
}
