<form class="search-form">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Find your next location</mat-label>
      <input 
        type="text" 
        placeholder="Search for a city..." 
        matInput 
        [formControl]="searchControl" 
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
        <!-- ToDo: check track -->
        @for(city of filteredCities$ | async; track city.name) {
            <mat-option [value]="city">
                {{ city.name }}, {{ city.country }}
                @if(city.state) {
                    <span>({{ city.state }})</span>
                }
            </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
</form>
