<header class="header">
  <h1 class="title">WeatherPlan</h1>
  <div class="header__actions">
    <app-city-search (search)="onCitySearch($event)"></app-city-search>
    <div class="saved-wrapper">
      <button mat-icon-button class="save-btn" (click)="toggleSavedLocations($event)">
        <mat-icon>bookmark</mat-icon>
      </button>
      @if (showSavedLocations) {
        <div #sidebar class="dropdown-card">
          <h3>Saved Locations</h3>
          <app-saved-locations></app-saved-locations>
        </div>
      }
    </div>
  </div>
</header>
<div class="container">
  <main class="main-content">
    @if(!currentWeather() && !isLoading() && !error()) {
      <div class="no-location">
          <p>Search for a city to see the weather or chose one of previously saved locations...</p>
      </div>
    }
    @else {
      <div class="weather-info">
        <app-weather-dashboard></app-weather-dashboard>
        <app-activity-suggestions></app-activity-suggestions>
      </div>
    }
  </main>
  <footer class="forecast-section">
    <app-forecast></app-forecast>
  </footer>
</div>