:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem;
  min-height: 100%;
}
  
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  &__actions {
    display: flex;
    gap: 20px;
  }
}
  
.title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #1e293b;
}
  
.main-content {
  display: flex;
  //grid-template-columns: 2fr 1fr;
  gap: 2rem;
  width: 100%;
}
  
.weather-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.save-btn {
  background-color: white;
  border-radius: 1rem;  
  border: none;
  padding: 8px;
  width: 40px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    color: #1e293b;
  }

  &:hover {
    background-color: #eff1fa;
  }
}
  
/* Responsive layout for smaller screens */
@media (max-width: 900px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}
  
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}