<div class="container">
  <header class="header">
    <h1 class="title">WeatherPlan</h1>
    <!-- ToDo: add 'i' icon -->
    <app-city-search (search)="onCitySearch($event)"></app-city-search>
  </header>

  <main class="main-content">
    <div class="weather-info">
      <app-weather-dashboard></app-weather-dashboard>
      <app-activity-suggestions></app-activity-suggestions>
    </div>
    <aside class="sidebar">
      <app-saved-locations></app-saved-locations>
    </aside>
  </main>

  <footer class="forecast-section">
    <app-forecast></app-forecast>
  </footer>
</div>