@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f0f4f8; // A fallback color
  background-image: linear-gradient(160deg, #f0f4f8 0%, #b0bcf8 100%,);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mf-rounded .mat-mdc-text-field-wrapper { border-radius: 1rem; overflow: hidden; }

.mf-rounded .mdc-text-field--outlined .mdc-notched-outline { border-radius: 1rem !important; }
.mf-rounded .mdc-text-field--outlined .mdc-notched-outline__leading { 
  border-radius: 1rem 0 0 1rem !important; 
}
.mf-rounded .mdc-text-field--outlined .mdc-notched-outline__trailing { 
  border-radius: 0 1rem 1rem 0 !important; 
}

.mf-rounded .mdc-text-field--filled { border-radius: 1rem !important; }
.mf-rounded .mat-mdc-text-field-wrapper { overflow: hidden; }

.mat-mdc-autocomplete-panel { border-radius: 1rem; }
