:host {
    display: block;
}

.card {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: #334155;
    transition: all 0.3s ease-in-out;
}

.loading, .error, .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    font-size: 1.1rem;
    color: #64748b;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 0.25rem;
}

.date {
    color: #64748b;
}

.temp-main {
    text-align: right;
    display: grid;
    grid-template-areas:
      "icon temp"
      "icon desc";
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0 0.5rem;
}

.weather-icon {
    grid-area: icon;
    width: 60px;
    height: 60px;
}

.temperature {
    grid-area: temp;
    font-size: 3rem;
    font-weight: 700;
    color: #1e293b;
    line-height: 1;
}
  
.description {
    grid-area: desc;
    color: #64748b;
    text-transform: capitalize;
}

.details {
    display: flex;
    gap: 1rem;
}
  
.detail-item {
    background-color: #f8fafc;
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}
  
.label {
    display: block;
    font-size: 0.8rem;
    color: #94a3b8;
    margin-bottom: 0.5rem;
}
  
.value {
    font-size: 1.25rem;
    font-weight: 500;
    color: #334155;
}

.save-btn {
    background: none;
    border: none;
    //font-size: 1.5rem;
    cursor: pointer;
    //border-radius: 50%;
    //transition: background-color 0.2s;
    // &:hover {
    //   //background-color: #f1f5f9;
    // }
}

.no-location {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: #334155;
}